INVENTORY_HOSTNAME= {{ ansible_hostname }}
TOTAL_MEMORY= {{ ansible_memtotal_mb }}
BIOS_VERSION= {{ ansible_bios_version }}
CPU= {{ ansible_processor }}
DISK_SIZE_SDA= {{ ansible_devices.sda.size | default('NONE') }}
DISK_SIZE_SDB= {{ ansible_devices.sdb.size | default('NONE') }}
DISK_SIZE_SDC= {{ ansible_devices.sdc.size | default('NONE') }}
DISK_SIZE_SDD= {{ ansible_devices.sdd.size | default('NONE') }}
DISK_SIZE_SDE= {{ ansible_devices.sde.size | default('NONE') }}
DISK_SIZE_SDF= {{ ansible_devices.sdf.size | default('NONE') }}
